/* pc */
@media (min-width: 1024px) {

}

/* tablet and mobile */
@media (max-width: 1023px) {
    .content .btn {
        padding: 16px;
    }

    .content .form-ctrl {
        padding: 15px;
    }
    
    .content .contact-info {
        line-height: 2;
    }

    .footer .icon-social-network i {
        font-size: 32px;
        padding: 4px;
    }

    .footer p {
        font-size: 20px;
    }

    .footer .footer-help {
        padding: 12px 0;
    }
}

/* tablet */
@media (min-width: 741px) and (max-width: 1023px) {

}

/* mobile */
@media (max-width: 740px) {
    .s-mt-16 {
        margin-top: 16px;
    }

    .s-col-full {
        width: 100%;
    }

    .header {
        overflow: hidden;
    }

    .header .mobile-menu-btn {
        display: block;
    }

    .header .search-btn {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav li {
        display: block;
    }

    .nav>li:first-child {
        display: inline-block;
    }

    .nav .sub-nav {
        position: initial;
    }
    
    .nav .sub-nav li {
        background-color: #333;
    }

    .nav .sub-nav li a {
        color: #fff;
        padding: 0 40px;
    }

    .slider .slider-text,
    .slider .slider-heading {
        display: none;
    }

    .content .member-img {
        width: 60%;
    }

    .content .btn {
        width: 100%;
    }
}